:root {
    --color-primary: #4e0de5;
    --color-secondery: #7da1f7;
    --color-warning: #fae362;
    --color-error: #f75e4b;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    margin: auto;
    animation: mori 100ms ease-out;
}

.container {
    display: flex;
    background: linear-gradient(150deg, var(--color-primary) 47%,
            var(--color-secondery)100%,
            var(--color-error) 100%,
            var(--color-warning) 40%);
    align-items: center;
    backdrop-filter: blur(33px);
    box-shadow: rgb(3, 28, 138) 0 1px 25px 3px;
    justify-content: center;
    height: 340px;
   
    border-radius: 1px 1px 40px 40px;
}

#input {
    border: none;
    width: 290px;
    height: 40px;
    border-radius: 8px 0 0 8px;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

#input:focus {
    outline: none;
}

button {
    border: none;
    background: var(--color-warning);
    width: 80px;
    height: 40px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
   
}

.card {
    display: flex;
    width: 370px;
    height: 220px;
    font-size: 8px;
    flex-direction: column;
    background-color: #ffffffcb;
    backdrop-filter: blur(33px);
    align-items: center;
    align-content: center;
    position: absolute;
    /* padding: 1px; */
    
    top: 260px;
    box-shadow: #000000b6 0px 0px  17px  -1px , 
        #5019cf50  0px 11px 19px -11px;
    border-radius: 18px;
    transition: 1s ease-out;
}
 .cardErr{
    background-color: var(--color-error);
    display: flex;
    width: 300px;
    height: 100px;
    color: #ffffff;
    padding: 10px;
   
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 2 ease-in-out;
} 
.weatherimg:first {
    animation: mori linear 2s infinite;
}
h1{
    padding: 10px;
}
.card p {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #0f12c0cb;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 7px;
    
}

.info {
    display: flex;
    color: #4e0de5;
    padding: 5px;
  
    align-items: center;
   
    justify-content: space-between;
    width: 100%;
}

.days {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 310px;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: center;
  
    font-size: 10px;
    margin: 14px 5px 3px 0;
    border-radius: 10px;
    box-shadow: #0301084f 3px 5px 9px 3px ;
}
.info1{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 700;
    color: #1c11c0d5;
    justify-content: space-around;
    align-items: center;
    margin: 35px;
}
.info1 p{
    font-size: 25px;
    
}
.info1 h1 ,h2{
    margin: 8px;
    width: fit-content;
    color: rgb(0, 0, 0);
}

#day {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* overflow: hidden; */
    flex-direction: row;
    width: 100%;
    height: 110%;
    margin: 160px 0;
}






@keyframes mori {
    0% {
        transform: translateY(1px);
    }

    45% {
        transform: translateY(8px);
    }

    75% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(2px);
    }

    5% {
        transform: translateY(2px);
    }

    15% {
        transform: translateY(4px);
    }

    35% {
        transform: translateY(6px);
    }


}